/* ContactBox.module.css */

.messageBox {
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: white;
    justify-content: center;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.messageBox:hover{
    background-color: #545454;
    cursor: pointer;
}



.selected {
    background-color: #545454;
}

.leftSection {
    width: auto;
    margin-right: 10px;
}

.leftSection img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.rightSection {
    width: 75%;
    margin-left: 10px;
}

.upperColumn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.name {
    font-weight: bold;
    font-size: 25px;
}

.data {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.lowerSection p {
    font-size: 13px;
    margin-top: 5px;
}

.contactBoxParent hr {
    width: 300px;
    margin: auto;
    border-color: #868686;
}

.image{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}





@media (max-width: 1600px) {
    .name {
        font-weight: bold;
        font-size: 23px;
    }
    
    .data {
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    
    .lowerSection p {
        font-size: 13px;
        margin-top: 5px;
    }
    
    .image {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }

    .contactBoxParent hr {
        width: 100%;
        margin: auto;
        border-color: #868686;
    }
}


@media (max-width: 412px) {
    .name {
        font-size: 22px;
    }
    
    .data {
        font-size: 11px;
    }
    
    .lowerSection p {
        font-size: 12px;
    }

    .leftSection{
        margin-right: 0;
    }
    
}


@media (max-width: 350px) {
    .name {
        font-size: 20px;
    }
    
    .data {
        font-size: 10px;
    }
    
    .lowerSection p {
        font-size: 10px;
    }

    .leftSection {
        margin-right: 0;
    }
    
}