.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
}

.icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 0 5px;
  font-size: 14px;
  color: #999;
  pointer-events: none;
  transition: 0.2s;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
  font-size: 25px;
}

.passwordInput input {
  padding-right: 50px;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: 0;
  left: 0;
  transform: translate(10px, -50%);
  font-size: 14px;
  color: #333;
}

.container button {
  background-color: #1dbf73;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #555;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 550px) {
  .container {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
    text-align: center;
  }
}
